###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/.idea/
/var/
/vendor/
/public/documents/purchase-orders/
/public/media/
/public/csv/
/public/pdf/
/public/zoho.log
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
root@tvg:/var/www/html/fluid#
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
