{% extends '/Admin/base.html.twig' %}

{% block widgets %}{% endblock %}

{% block body %}
    {# Header #}
    {% block header %}
        {% include 'Admin/_header.html.twig' %}
    {% endblock header %}
    {% block flash_messages %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message|raw }}
            </div>
        {% endfor %}
        <div class="hidden users-flash m-0 save-all-items" id="flash"></div>
    {% endblock %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {{ render(controller(
                'App\\Controller\\AdminDashboardController::sideBar', { 'return':'sideBar' }
            )) }}
            <div class="col-10 col-sm-10 pb-3 ps-0 admin-right-col h-100">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="spanner">
        <div class="loader"></div>
        <p class="text-light fw-bold" style="font-size: 36px;">Loading...</p>
    </div>
{% endblock %}