{% extends '/base_clinics.html.twig' %}

{% block body %}
    {{ parent() }}

    {# Header #}
    {% block header %}
        {% include '/_header_clinic.html.twig' %}
    {% endblock header %}

    {# Messages #}
    {% block flash_messages %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endblock %}

    {% block layout %}
    {% endblock %}

    {# Footer #}
    {% block footer %}
        {% include '/_footer.html.twig' %}
    {% endblock footer %}
    </div>
{% endblock %}